In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("spotify_millsongdata.csv")

In [5]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [6]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [7]:
df.shape

(57650, 4)

In [8]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [9]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [10]:
df.head(10)

,artist,song,text
0,Bee Gees,Come Home Johnny Birdie,I left the only folks I had known \r\nI was f...
1,Bette Midler,Bang Your Dead!,"""Oh god, oh god. Dumping so early in the eveni..."
2,Devo,One Dumb Thing,One dumb thing \r\nIs how it starts \r\nOne ...
3,Tears For Fears,Everybody Wants To Rule The World,"Welcome to your life, there's no turning back,..."
4,Yes,Where Will You Be,Where will you be when you're not here \r\nHo...
5,Hanson,Boomerang,"Somethin' special about you, babe \r\nMaybe i..."
6,Uriah Heep,Sweet Pretender,I didn't see you standing there \r\nYou took ...
7,Roy Orbison,Almost Eighteen,"Almost eighteen, a lot of sugar and lace \r\n..."
8,Heart,Rsvp,I got an invitation for you \r\nA little temp...
9,Alabama,I Was Young Once Too,He raced that engine down the track \r\n'Roun...

In [11]:
df['text'][0]

"I left the only folks I had known  \r\nI was fifteen then , hardly grown  \r\nWhen they found me in the swamp face down in the mud  \r\nCouldn't get back and I couldn't go far  \r\nSaid to myself stay right where you are  \r\nDone found yourself a Ma and Pa  \r\nEv'rybody said the kid's no good  \r\n  \r\nCome Home Johnny Bride come home  \r\nJohnny Bride come home  \r\nWe're all wrong without you  \r\nHow did we ever doubt you  \r\nHe confessed to the killing  \r\nIt's his role we had you filling  \r\nWe didn't really mean to make you sad  \r\nBut when you ran you made us think that you were twice as bad  \r\n  \r\n(repeat last verse and fade out about line 6)\r\n\r\n"

In [12]:
df.shape

(5000, 3)

In [13]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [14]:
df.head()

,artist,song,text
0,Bee Gees,Come Home Johnny Birdie,i left the only folks i had known \r i was fi...
1,Bette Midler,Bang Your Dead!,"""oh god, oh god. dumping so early in the eveni..."
2,Devo,One Dumb Thing,one dumb thing \r is how it starts \r one du...
3,Tears For Fears,Everybody Wants To Rule The World,"welcome to your life, there's no turning back,..."
4,Yes,Where Will You Be,where will you be when you're not here \r how...

In [15]:
df.tail()

,artist,song,text
4995,Wishbone Ash,Throw Down The Sword,"throw down the sword, \r the fight is done an..."
4996,Rush,Entre Nous,we are secrets to each other \r each one's li...
4997,Mazzy Star,Hair And Skin,your hair and your eyes \r i saw them in the ...
4998,Pretenders,Dragway 42,i walk the streets at night \r under artifici...
4999,Harry Belafonte,My Lord What A Mornin',"my lord, what a mornin' \r my lord, what a mo..."

In [16]:
import nltk
nltk.download()
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

In [17]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [25]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [26]:
similarity[0]

array([1.        , 0.04085254, 0.01477081, ..., 0.01844069, 0.0074129 ,
       0.00396661])

In [28]:
df[df['song'] == 'Lonely Street'].index[0]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [29]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:5]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [30]:
recommendation('Lonely Street')

IndexError: index 0 is out of bounds for axis 0 with size 0

In [23]:
import pickle
pickle.dump(similarity,open('m_similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))